# Note: using ".0" at end b/c the "~=" means "use highest version of latest decimal"
# (so this allows for grabbing latest bugfix, while pinning to a major.minor version)

# Developer Tools
ipython~=8.11.0
jupyter~=1.0.0

# General Tools
joblib~=1.2.0

# Data Tools
pandas~=1.5.0
numpy~=1.24.0
google-cloud-bigquery~=3.6.0

# ML Tools
scikit-learn~=1.2.0
aif360~=0.5.0
xgboost~=1.7.0
shap~=0.41.0
yellowbrick~=1.5.0
